# Proyecto Individual No 1
## Data Engineering

In [113]:
import pandas as pd

**Transformación 1**: Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [114]:
lista_plataformas = ['amazon_prime_titles-score.csv',
                    'disney_plus_titles-score.csv',
                    'hulu_titles-score (2).csv',
                    'netflix_titles-score.csv']
contador = 0
total_registros = 0
df_movies = pd.DataFrame()
for i in range(0,4): #Usamos una iteración para cargar los cuatro archivos csv en un solo dataframe
    df_parcial = pd.read_csv(lista_plataformas[i])
    df_parcial['id'] = lista_plataformas[i][0] + df_parcial['show_id']
    df_movies = pd.concat([df_movies,df_parcial])
    contador = df_movies.shape[0]
    total_registros = total_registros + contador
print('Numero de registros del dataframe final:', df_movies.shape[0] )

Numero de registros del dataframe final: 22998

In [115]:

print('Numero total de registros:', df_movies.shape[0]) #Consultamos el numero total de registros que posee el dataset
print(df_movies.columns) #Consultamos todos los nombres de campos del dataset
print(df_movies.info()) #Consultamos el total de datos no nulos por cada campo

Numero total de registros: 22998
Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'score', 'id'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  score         22998 non-null  int64
 13  id            22998 non-null  object
dtypes: int64(2), object(12)
memory usage: 2.6+ MB
None

**Transformación 2**: Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [116]:
df_movies.fillna({'rating': 'G'}, inplace=True) # Sustituimos los valores nulos (NaN) del campo rating por el string 'G'

In [117]:
print(df_movies.info()) #Consultamos el total nulos para verificar que se aplicó la transformación en 'rating'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22998 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  score         22998 non-null  int64
 13  id            22998 non-null  object
dtypes: int64(2), object(12)
memory usage: 2.6+ MB
None

**Transformación 3**: De haber fechas, deberán tener el formato AAAA-mm-dd

In [118]:
df_movies['date_added'].head(50) #Consultamos algunos registros para verificar formato de la fecha

0     March 30, 2021
1     March 30, 2021
2     March 30, 2021
3     March 30, 2021
4     March 30, 2021
5     March 30, 2021
6     March 30, 2021
7     March 30, 2021
8     March 30, 2021
9      April 1, 2021
10     April 4, 2021
11    April 10, 2021
12    April 17, 2021
13    April 24, 2021
14       May 2, 2021
15      June 3, 2021
16               NaN
17               NaN
18               NaN
19               NaN
20               NaN
21               NaN
22               NaN
23               NaN
24               NaN
25               NaN
26               NaN
27               NaN
28               NaN
29               NaN
30               NaN
31               NaN
32               NaN
33               NaN
34               NaN
35               NaN
36               NaN
37               NaN
38               NaN
39               NaN
40               NaN
41               NaN
42               NaN
43               NaN
44               NaN
45               NaN
46               NaN
47               NaN
48               NaN
49               NaN
Name: date_added, dtype: object

In [119]:
def numero_mes(string):  #Creamos una función que reciba el nombre del mes y retorne su numero en formato string
    meses =['January','February','March','April','May','June','July','August','September','November','December']
    string = string.rstrip()
    if string in meses:
        if   (meses.index(string)+1)<10:
            posicion = '0'+str(meses.index(string)+1) #Concatenamos el cero a la derecha cuando el mes sea de un digito 
        else:
            posicion = str(meses.index(string)+1)
        return(posicion)
    else:
        return('00')


for i,registro in df_movies.iterrows():
    if not pd.isna(registro['date_added']): # Verificamos que el dato fecha no sea nulo (NaN)
        string_date = str(registro['date_added']) # Forzamos que sea un string para poder manipular caracter a caracter con slice
        year = string_date[-4:]
        month = numero_mes(string_date[:-8])
        day = string_date[-8:-6]
        if int(day)<10:
            day = '0'+ day.lstrip() #Concatenamos el cero a la derecha cuando el dia sea de un digito
        fecha= year +'-'+ month +'-' + day
        df_movies.loc[i,'date_added']=fecha #Modificar la fila del dataframe original utilizando loc o iloc

In [120]:
df_movies['date_added'].head(50) #Verificamos el formato de algunos registros o filas

0     2021-09-25
1     2021-09-24
2     2021-09-24
3     2021-09-24
4     2021-09-24
5     2021-09-24
6     2021-09-24
7     2021-09-24
8     2021-09-24
9     2021-09-24
10    2021-09-24
11    2021-09-23
12    2021-09-23
13    2021-09-22
14    2021-09-22
15    2021-09-22
16    2021-09-22
17    2021-09-22
18    2021-09-22
19    2021-09-22
20    2021-09-22
21    2021-09-22
22    2021-09-21
23    2021-09-21
24    2021-09-21
25    2021-09-21
26    2021-09-21
27    2021-09-20
28    2021-09-19
29    2021-09-19
30    2021-09-17
31    2021-09-17
32    2021-09-17
33    2021-09-17
34    2021-09-17
35    2021-09-17
36    2021-09-17
37    2021-09-16
38    2021-09-16
39    2021-09-16
40    2021-09-16
41    2021-09-16
42    2021-09-16
43    2021-09-16
44    2021-09-16
45    2021-09-16
46    2021-09-16
47    2021-09-16
48    2021-09-16
49    2021-09-15
Name: date_added, dtype: object

**Transformación 4**: Los campos de texto deberán estar en minúsculas, sin excepciones

In [121]:
df_movies.head(2) #Consultamos algunos registros para verificar cuales son los campos tipo texto

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-09-25,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-09-24,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37,as2

In [122]:
#Aplicamos la funcion lower() a los campos de tipo string que se requieren en minusculas
df_movies['type'] = df_movies['type'].str.lower()
df_movies['title'] = df_movies['title'].str.lower()
df_movies['director'] = df_movies['director'].str.lower()
df_movies['cast'] = df_movies['cast'].str.lower()
df_movies['country'] = df_movies['country'].str.lower()
df_movies['duration'] = df_movies['duration'].str.lower()
df_movies['listed_in'] = df_movies['listed_in'].str.lower()
df_movies['description'] = df_movies['description'].str.lower()
df_movies.head(2) # Verificamos que se realizó la trasnformación consultando algunos registros

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-09-25,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-09-24,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2


**Transformación 5**: El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [123]:
#Creamos los campos duration_int y duration_type a partir del campo duration
df_movies[['duration_int','duration_type']]=df_movies.duration.str.split(expand=True)
df_movies.head(2) # verificamos que fueron creados

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-09-25,2014,G,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-09-24,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,110,min

In [134]:
#Eliminamos el campo duration ya que no se va a usar en adelante
df_movies.drop(['duration'], axis = 'columns', inplace=True) 
df_movies.head(5) # verificamos que el campo duration fue eliminado

KeyError: "['duration'] not found in axis"

In [125]:
print(df_movies['duration_int'].dtypes, "\n")  #Verificamos el tipo de datos del campo duration_int antes de la trasnformación

object

In [126]:
df_movies.fillna({'duration_int': '0'}, inplace=True)             # Sustituimos los valores nulos (NaN) del campo  por ceros
df_movies['duration_int'] = df_movies['duration_int'].astype(int) # Convertimos el tpo del campo a  entero
print(df_movies['duration_int'].dtypes, "\n")     #Verificamos el tipo de datos del campo duration_int despues de la trasnformación

int32

In [133]:
plataforma = 'netflix'
id_plataforma = plataforma[0]
conta=df_movies.title.str.contains(id_plataforma)
print(conta)

0        True
1        True
2        True
3        True
4        True
        ...
8802    False
8803    False
8804     True
8805    False
8806     True
Name: title, Length: 22998, dtype: bool

In [127]:
df_movies.to_csv('movies02.csv', header=True, index=False)